#credentials-form, .error-msg-box {
	margin: 1em auto;
	display: block;
	width: 440px;
}

#credentials-form .row {
	margin: .5em 0;
	display: flex;
	flex-direction: row;
}

#credentials-form .left {
	order: 1;
	flex-basis: 50%;
}

#credentials-form .right {
	order: 2;
	flex-basis: 50%;
}

#credentials-form .right * {
	float: right;
	text-align: right;
}

.error-msg-box {
	padding: 8px;
	border: 1px solid red;
	background-color: pink;
	color: red;
}


@media screen and (max-width: 720px) {
	#credentials-form, .error-msg-box {
		margin: 1em 0;
		width: initial;
	}

	#credentials-form .row {
		display: block;
	}
	
	#credentials-form .right * {
		float: none;
		text-align: left;
	}
}
